# notebook
jupyter ~= 1.0
jupyterthemes ~= 0.14

# dataset
h5py ~= 2.6

# plotting
matplotlib ~= 2.0

# pytorch
git+https://github.com/pytorch/pytorch
torchvision ~= 0.1

# preprocessing
scikit-image ~= 0.12
