# dataset
h5py ~= 2.6

# plotting
matplotlib ~= 2.0

# pytorch
git+https://github.com/pytorch/pytorch
git+https://github.com/pytorch/vision

# web server
flask ~= 0.12

# pre processing
scikit-image ~= 0.12
